@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 10px;
    overflow-X: hidden;
}
a{
    text-decoration: none;
    color: black;
}
body{
    height: 100vh;
    width: 100vw;
    background:rgb(234, 233, 233);
    overflow: hidden;
    user-select: none;
}
.body-active header,
.body-active .sub-menu,
.body-active .ads-container,
.body-active .elec-products,
.body-active .footer,
.body-active .elec-products,
.body-active .mobile-container{
   filter: blur(4px) !important;
    opacity: 0.8 !important;
}
header{
    max-height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding:0.5rem 1rem;
    background: white;
    position: fixed;
    top: 0;
    z-index: 100;
}
header .nav-left{
    height: 7rem;
    width: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.nav-left >span{
    font-size: 3rem;
    cursor: pointer;
    display: none;
}
.nav-left .mobile-nav{
    display: none;
}
.nav-left h2{
    margin-left: 1rem;
    font-size: 2rem;
    font-style: italic;
    color: blue;
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-left h2 >span{
    display: block;
    color: rgb(218, 217, 217);
    font-size: 1.5rem;
}
.nav-left h2 >span span{
    color: yellow;
}
header .nav-center{
    width: 45%;
    height: 7rem;
    display: flex;
    align-items: center;
}
.nav-center span{
    height: 4rem;
    background: aliceblue;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;
}
.nav-center input{
    height: 4rem;
    width:92%;
    background: aliceblue;
    border: none;
    font-size: 1.5rem;
    outline: none;
    border-radius:0 5px 5px 0;
}
header .nav-right{
    height: 7rem;
    width: 40%;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    position: relative;
}
.nav-right li{
    font-size: 1.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 1rem;
}
.nav-right li span:nth-of-type(1){
    font-size: 2.3rem;
}
.nav-right li > span:nth-of-type(2){
    display:inline-block;
    margin-bottom: .5rem;
}
.nav-right li > span:nth-of-type(3){
    display:inline-block;
    margin-bottom: .2rem;
    transition: transform 0.2s;
}
.nav-right li:hover span:nth-of-type(3){
    transform: rotate(180deg);
}
.nav-right li:nth-child(2){
    transition: all 0.3s;
}
.nav-right li:nth-child(2):hover{
    color: white;
    background: blue;
    border-radius: 4px;
}
.nav-right > span{
    position: absolute;
    right: 1rem;
    font-size: 2rem;
}
.signin-box::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom: 10px solid rgb(220, 220, 220);
}
.nav-right .signin-box{
    position: absolute;
    top: 7rem;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    left: 50%;
    z-index: 101;
    transform: translateX(-50%);
    display: none;
}
.nav-right li:nth-child(2):hover +.signin-box{
    display: block;
}
.nav-right > span:hover +.more-box{
    display: block;
}
.signin-box >li:nth-of-type(1) span{
    font-size: 1.5rem;
    color: blue;
    font-weight: 500;
}
.nav-right .signin-box li>span:nth-of-type(1){
    color: blue;
}
.nav-right .more-box li>span:nth-of-type(1){
    color: blue;
}
.more-box{
    position: absolute;
    z-index: 101;
    top: 7rem;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    right: -1%;
    display: none;
}
.side-bar{
    height: 100vh;
    width: 80%;
    position: fixed;
    top:0;
    left: -100%;
    background: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 103;
    cursor: pointer;
    transition: all 0.3s;
}
.sidebar-active{
    left: 0;
}
.side-bar > li{
    width: 100%;
    max-height: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.9rem;
}
.side-bar li:hover{
    background: rgb(226, 226, 226);
    border-radius: 5px;
}
.side-bar li >span:nth-of-type(1){
    color: blue;
    font-size: 2rem;
}
.side-bar li:nth-child(1){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
    background: blue;
    margin-bottom: 0;
}
.side-bar li:nth-child(1) span{
    color: white;
    font-size: 2.5rem;
}
.side-bar li:nth-child(1) span:nth-of-type(2){
    font-size: 1.8rem;
}
.side-bar li > img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50% ;
}
.pop-up{
    height: 100vh;
    width:100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.775);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.popup-active{
    display: flex;
    overflow: hidden;
}
.pop-up .popup-cont{
    min-height: 15rem;
    width: 95%;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    position: relative;
}
.popup-cont h2{
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 400;
}
.popup-cont .popup-detail{
    display: flex;
    gap: 2rem;
}
.popup-detail img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
}
.popup-cont .btns{
    width: 100%;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: red;
}
.container{
    margin-top: 7rem;
    height: calc(100vh - 7rem);
    width: 100%;
    display: flex;
    padding: 2rem;
    background: white;
    gap: 1rem;
    border: 1px solid rgb(206, 206, 206);
}
.container .left-side{
    height: 100%;
    width: 50%;
    border: 1px solid rgb(206, 206, 206);
}
.left-side{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.left-side img{
    height: 80%;
    width: 90%;
    background: unset;
    object-fit: contain;
}
.left-side .btns{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.btns button{
    border: none;
    background: orangered;
    padding: 1.5rem 5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 3px;
}
.btns button:nth-of-type(1){
    background: orange;
}
.container .right-side{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}
.right-side h2{
    font-size: 2rem;
    font-weight: 500;
}
.right-side p> span{
    font-weight: 100 !important;
    font-size: 1.7rem;
    color: green;
}
.right-side >p:nth-of-type(1) >span:nth-of-type(1){
    background: green;
    padding: .2rem 1.2rem;
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.right-side >p:nth-of-type(1) >span:nth-of-type(2){
    font-size: 1.3rem;
}
.right-side >p:nth-of-type(2){
    font-size: 1.4rem;
    color: blue;
}
.right-side >p:nth-of-type(3){
    font-size: 2.5rem;
    font-weight: 700;
}
.right-side p:nth-of-type(4){
    font-size: 1.3rem;
}
.right-side p:nth-of-type(5){
    font-size: 1.4rem;
    color: red;
}
.right-side li{
    font-size: 1.3rem;
    margin-left: 2rem;
}
.ratings{
    height: 15rem;
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    border: 1px solid rgb(223, 223, 223);
}
.div{
    display: none;
}
.ratings .boxs{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 7rem;
}
.ratings .box{
    height: 6rem;
    width: 6rem;
    border: .4rem solid green;
    border-left-color:rgb(220, 220, 220) ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    padding: 1rem;
}
.box >span{
    font-size: 1.2rem;
    color: rgb(126, 126, 126);
}
@media all and (max-width:620px){
    body{
        height: 100%;
        width: 100%;
        overflow-X:hidden ;
        overflow-y: scroll !important;
        background: white;
    }
    header{
        min-height: 10rem !important;
        background: blue;
        gap: 1rem;
        flex-direction: column;
    }
    .nav-left{
        height: 4rem !important;
        width: 100% !important;
        align-items: flex-start !important;
        flex-direction: row !important;
        position: relative;
    }
    .nav-left .mobile-nav{
        position:absolute;
        right: 1rem;
        height: 100%;
        width: 20%;
        display: block !important;
        list-style: none;
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-size: 2rem;
        gap: 1rem;
    }
    .nav-left > span:nth-of-type(1) {
        display: block;
        font-size: 3rem;
        color: white !important;
    }
    .nav-left h2{
        width: 40%;
        max-height: 40% !important;
        color: white !important;
        display: flex;
        flex-direction: column;
        font-size: 1.4rem !important;
    }
    .nav-left h2 > span{
        display: inline-block;
        height: 2rem;
        font-weight: 600;
        width: 100%;
        font-size:1rem !important;
        color: rgb(232, 228, 228);
        margin-left: 1rem;
    }
    .nav-left h2 span > span{
        display: inline-block;
        font-size:1rem;
        color: yellow;
    }
    .nav-center {
        height: 4rem !important;
        width: 100% !important;
    }
    .nav-center span{
        height: 4rem;
        background: white;
    }
    .nav-center input{
        height: 4rem !important;
        width: 99% !important;
        background: white;
        font-size: 1.3rem;
    }
    .nav-right{
        display: none !important;
    }
    .container{
        margin-top: 10rem !important;
        flex-direction: column;
        min-height: auto !important;
        border: none;
    }
    .left-side{
        width: 100% !important;
        max-height: 40% !important;
    }
    .left-side .btns button{
        padding: .2rem .7rem !important;
        font-size: 1.2rem;
    }
    .right-side {
        width: 100% !important;
        max-height: 60% !important;
        padding: 0 !important;
        gap: 1rem !important;
    }
    .right-side p{
        font-size: 1.3rem !important;
    }
    .right-side li{
        font-size: 1rem;
        text-align: justify;
    }
    .right-side .ratings{
        padding-bottom: 1rem !important;
    }
    .ratings h2{
        font-size: 1.3rem;
    }
    .ratings .boxs{
        margin-top: 1rem;
        gap: 3rem;
    }
    .box span{
        font-size: .8rem;
    }
    .div{
        display: block;
        min-height: 3rem;
        width: 100%;
    }
    .left-side img{
        max-height: 70%;
    }
    #price{
        font-size: 1.8rem !important;
    }
    #price #offer{
        font-size: 1.2rem;
    }
}